In [ ]:

name = "Alice"
age = 25
is_student = True

print(name)       
print(age)        
print(is_student)

Alice
25
True

In [ ]:

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:

age = 18

if age >= 18:
    print("You are an adult.")
elif age > 13:
    print("You are a teenager.")
else:
    print("You are a child.")

You are an adult.

In [ ]:

for num in range(1, 11):
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even